apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: digit-image-predictor
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  project: default
  source:
    repoURL: https://github.com/Alkamist/digit-image-predictor
    targetRevision: HEAD
    path: helm-chart
    helm:
      valuesObject:
        {{- toYaml .Values.digitImagePredictor | nindent 8 }}
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true