apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-resources
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  project: default
  source:
    repoURL: https://github.com/Alkamist/digit-image-predictor-argocd
    targetRevision: HEAD
    path: apps/ingress-resources
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true