apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://helm.traefik.io/traefik
    targetRevision: 37.2.0
    chart: traefik
    helm:
      values: |
        ingressClass:
          enabled: true
          isDefaultClass: true
        kubernetes:
          ingressEndpoint:
            publishedService: "traefik/traefik"
        service:
          type: LoadBalancer
        ports:
          web:
            port: 80
            hostPort: 80
            expose: 
              default: true
            redirectTo: websecure
          websecure:
            port: 443
            hostPort: 443
            expose: 
              default: true
            tls:
              enabled: true
        additionalArguments:
          - "--certificatesresolvers.le.acme.email=business.coreylehman@gmail.com"
          - "--certificatesresolvers.le.acme.storage=/data/acme.json"
          - "--certificatesresolvers.le.acme.tlschallenge=true"
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true