apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://helm.traefik.io/traefik
    targetRevision: 37.2.0
    chart: traefik
    helm:
      values: |
        ingressClass:
          enabled: true
          isDefaultClass: true
        kubernetes:
          ingressEndpoint:
            publishedService: "traefik/traefik"
        service:
          type: LoadBalancer
        ports:
          web:
            port: 80
            exposedPort: 8080
          websecure:
            port: 443
            exposedPort: 8443
            tls:
              enabled: true
        securityContext:
          capabilities:
            drop:
            - ALL
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 65532
        podSecurityContext:
          fsGroup: 65532
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true