apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://helm.traefik.io/traefik
    targetRevision: 37.2.0
    chart: traefik
    helm:
      values: |
        ingressClass:
          enabled: true
          isDefaultClass: true
        kubernetes:
          ingressEndpoint:
            publishedService: "traefik/traefik"
        service:
          type: LoadBalancer
        ports:
          web:
            port: 80
          websecure:
            port: 443
            tls:
              enabled: true
        persistence:
          enabled: true
          size: 100Mi
          name: acme-storage
        additionalArguments:
          - "--providers.kubernetesingress.ingressclass=traefik"
          - "--certificatesresolvers.le.acme.email=business.coreylehman@gmail.com"
          - "--certificatesresolvers.le.acme.storage=/data/acme.json"
          - "--certificatesresolvers.le.acme.tlschallenge=true"
          - "--log.level=INFO" # Set log level to INFO (or DEBUG) for better visibility
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true